.user-info{
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fafafa;
  border: 1px solid silver;
  padding: 20px 3%;
  width: 94%;
}
.user-info p {
  font-size: 16px;
}
.user-info .btn {
  margin-left: 0px;
  margin-top: 30px;
}
.image{
  max-width: 300px;
  max-height: 300px;
}
